In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import time
import tensorflow as tf

# Read our New York registrations Dataset

In [2]:
NYS_registrations_df = pd.read_csv('Resources/NYS Electric Vehicle Registrations.csv')
NYS_registrations_df.head()

,Record Type,VIN,Registration Class,City,State,Zip,County,Model Year,Make,Body Type,Fuel Type,Unladen Weight,Maximum Gross Weight,Passengers,Reg Valid Date,Reg Expiration Date,Color,Scofflaw Indicator,Suspension Indicator,Revocation Indicator
0,VEH,96722014661,SRF,BOVINA,NY,13740,DELAWARE,1972,SAAB,2DSD,ELECTRIC,2000.0,NaN,NaN,05/04/2021,06/26/2023,WH,N,N,N
1,VEH,9106843,SRF,GLENDALE,NY,11385,QUEENS,1974,EVA,4DSD,ELECTRIC,2180.0,NaN,NaN,09/21/2021,10/03/2023,BR,N,N,N
2,VEH,909SR2223A,SRF,STAFFORD,NY,14143,GENESEE,1979,CITIC,2DSD,ELECTRIC,850.0,NaN,NaN,05/12/2021,04/01/2023,GR,N,N,N
3,VEH,9E2SPAXBC113501,PSD,JOHNSTOWN,NY,12095,FULTON,2012,VANTA,PICK,ELECTRIC,1900.0,NaN,NaN,07/01/2014,NaN,WH,N,N,N
4,VEH,9A204759,SPC,BROOKLYN,NY,11211,KINGS,2014,CROWN,P/SH,ELECTRIC,3335.0,NaN,NaN,12/09/2021,12/31/2022,WH,N,N,N

In [3]:
NYS_registrations_df.columns

Index(['Record Type', 'VIN', 'Registration Class', 'City', 'State', 'Zip',
       'County', 'Model Year', 'Make', 'Body Type', 'Fuel Type',
       'Unladen Weight', 'Maximum Gross Weight', 'Passengers',
       'Reg Valid Date', 'Reg Expiration Date', 'Color', 'Scofflaw Indicator',
       'Suspension Indicator', 'Revocation Indicator'],
      dtype='object')

In [4]:
#  Let's drop the columns we will not use
drop_cols = ['Record Type', 'Unladen Weight', 'Maximum Gross Weight', 'Passengers',
          'Reg Expiration Date', 'Color', 'Scofflaw Indicator',
       'Suspension Indicator', 'Revocation Indicator']
NYS_registrations_df.drop(drop_cols, axis=1, inplace=True)
NYS_registrations_df.head()

,VIN,Registration Class,City,State,Zip,County,Model Year,Make,Body Type,Fuel Type,Reg Valid Date
0,96722014661,SRF,BOVINA,NY,13740,DELAWARE,1972,SAAB,2DSD,ELECTRIC,05/04/2021
1,9106843,SRF,GLENDALE,NY,11385,QUEENS,1974,EVA,4DSD,ELECTRIC,09/21/2021
2,909SR2223A,SRF,STAFFORD,NY,14143,GENESEE,1979,CITIC,2DSD,ELECTRIC,05/12/2021
3,9E2SPAXBC113501,PSD,JOHNSTOWN,NY,12095,FULTON,2012,VANTA,PICK,ELECTRIC,07/01/2014
4,9A204759,SPC,BROOKLYN,NY,11211,KINGS,2014,CROWN,P/SH,ELECTRIC,12/09/2021

In [5]:
# Registration VIN count
Registration = NYS_registrations_df.VIN.count()
Registration

62063

In [6]:
#let's get unique values  for the Make
Make_counts = NYS_registrations_df.Make.value_counts()
Make_counts

TESLA    37134
NIU       6917
HYUND     3130
CHEVR     3044
NISSA     2253
         ...
CRAYL        1
AMPHI        1
CO/CA        1
COMUT        1
TCM          1
Name: Make, Length: 197, dtype: int64

In [7]:
#let's get unique values  for the Model Year
Model_year_counts = NYS_registrations_df['Model Year'].value_counts()
Model_year_counts

2021    23413
2020    13130
2019     5978
2018     5863
2022     5415
2017     2320
2016     1527
2015      928
2009      663
2014      562
2013      551
2002      473
2012      268
2007      239
2008      197
2006      196
2010      105
2011       82
2005       71
2004       17
2003       16
2001        8
2000        6
1981        4
1972        3
1974        2
1999        2
1995        2
1984        2
1980        2
1987        1
1973        1
1991        1
1990        1
1977        1
1978        1
1985        1
1998        1
1979        1
1993        1
1964        1
1994        1
1975        1
1969        1
1914        1
1952        1
1913        1
1997        1
Name: Model Year, dtype: int64

In [8]:
#let's get unique values  for the Registration class
Regist_class_counts = NYS_registrations_df['Registration Class'].value_counts()
Regist_class_counts

PAS    45720
LMB     6923
SRF     2923
PSD     2576
OMT      760
LUA      691
MED      532
ORG      483
MOT      387
OMS      230
STA      181
COM      163
RGL      144
SPO      104
OMR       40
SPC       38
HAM       29
ITP       28
VAS       18
ATV       17
LMC       11
BOB       11
SRN       10
TRC        8
LMA        8
OML        6
ARG        4
OMV        2
ORM        2
SUP        2
IRP        2
STG        1
SCL        1
AGR        1
NYA        1
FAR        1
HIS        1
JCA        1
SOS        1
AYG        1
JSC        1
Name: Registration Class, dtype: int64

In [9]:
#let's get unique values  for City
City_counts= NYS_registrations_df.City.value_counts()
City_counts

BROOKLYN         10275
NEW YORK          3300
BRONX             1689
STATEN ISLAND     1276
ROCHESTER         1120
                 ...
EAST BRANCH          1
WILMINGTON           1
BREESPORT            1
NALPES               1
BEAR MOUNTAIN        1
Name: City, Length: 1986, dtype: int64

In [10]:
#let's get unique values  for County
County_counts= NYS_registrations_df.County.value_counts()
County_counts

KINGS          10414
NASSAU          8575
SUFFOLK         7441
WESTCHESTER     7197
NEW YORK        3951
               ...
SCHUYLER          32
ALLEGANY          30
WYOMING           21
HAMILTON          14
LEWIS             12
Name: County, Length: 63, dtype: int64

In [11]:
NYS_registrations_df['Reg Valid Date'] = pd.to_datetime(NYS_registrations_df['Reg Valid Date'])
NYS_registrations_df.head()

,VIN,Registration Class,City,State,Zip,County,Model Year,Make,Body Type,Fuel Type,Reg Valid Date
0,96722014661,SRF,BOVINA,NY,13740,DELAWARE,1972,SAAB,2DSD,ELECTRIC,2021-05-04
1,9106843,SRF,GLENDALE,NY,11385,QUEENS,1974,EVA,4DSD,ELECTRIC,2021-09-21
2,909SR2223A,SRF,STAFFORD,NY,14143,GENESEE,1979,CITIC,2DSD,ELECTRIC,2021-05-12
3,9E2SPAXBC113501,PSD,JOHNSTOWN,NY,12095,FULTON,2012,VANTA,PICK,ELECTRIC,2014-07-01
4,9A204759,SPC,BROOKLYN,NY,11211,KINGS,2014,CROWN,P/SH,ELECTRIC,2021-12-09

In [12]:
# We will be using the m/y information to clean duplicates 
NYS_registrations_df['month/year'] = NYS_registrations_df['Reg Valid Date'].dt.strftime("%m-%Y")

# Then we will adjust the index of our New York registration Database
NYS_registrations_df.set_index('Reg Valid Date', inplace=True)
NYS_registrations_df.head()

,VIN,Registration Class,City,State,Zip,County,Model Year,Make,Body Type,Fuel Type,month/year
Reg Valid Date,,,,,,,,,,,
2021-05-04,96722014661,SRF,BOVINA,NY,13740,DELAWARE,1972,SAAB,2DSD,ELECTRIC,05-2021
2021-09-21,9106843,SRF,GLENDALE,NY,11385,QUEENS,1974,EVA,4DSD,ELECTRIC,09-2021
2021-05-12,909SR2223A,SRF,STAFFORD,NY,14143,GENESEE,1979,CITIC,2DSD,ELECTRIC,05-2021
2014-07-01,9E2SPAXBC113501,PSD,JOHNSTOWN,NY,12095,FULTON,2012,VANTA,PICK,ELECTRIC,07-2014
2021-12-09,9A204759,SPC,BROOKLYN,NY,11211,KINGS,2014,CROWN,P/SH,ELECTRIC,12-2021

# Looking for duplicates

In [13]:
# let's see the duplicates accross the data set
duplicates = NYS_registrations_df[NYS_registrations_df.duplicated()]
duplicates

Empty DataFrame
Columns: [VIN, Registration Class, City, State, Zip, County, Model Year, Make, Body Type, Fuel Type, month/year]
Index: []

In [14]:
# inspection of City duplicates
NYS_registrations_df[NYS_registrations_df.duplicated('City')]

,VIN,Registration Class,City,State,Zip,County,Model Year,Make,Body Type,Fuel Type,month/year
Reg Valid Date,,,,,,,,,,,
2022-01-31,7SAYGDEF9NF365467,PAS,BROOKLYN,NY,11249,KINGS,2022,TESLA,SUBN,ELECTRIC,01-2022
2022-01-12,7SAYGDEF9NF337765,OMT,BROOKLYN,NY,11229,KINGS,2022,TESLA,SUBN,ELECTRIC,01-2022
2021-12-15,7SAYGDEF9NF328094,PAS,BRONX,NY,10465,BRONX,2022,TESLA,SUBN,ELECTRIC,12-2021
2021-12-18,7SAYGDEF9NF326491,PAS,NEW YORK,NY,10025,NEW YORK,2022,TESLA,SUBN,ELECTRIC,12-2021
2022-01-18,7SAYGDEF9NF325096,PAS,STATEN ISLAND,NY,10305,RICHMOND,2022,TESLA,SUBN,ELECTRIC,01-2022
...,...,...,...,...,...,...,...,...,...,...,...
2021-10-27,A976B08198T,SPC,BROOKLYN,NY,11232,KINGS,2019,YALE,SWT,ELECTRIC,10-2021
2021-10-27,A976B07325S,SPC,BROOKLYN,NY,11232,KINGS,2018,YALE,P/SH,ELECTRIC,10-2021
2021-10-27,A976B06198R,SPC,BROOKLYN,NY,11232,KINGS,2017,YALE,P/SH,ELECTRIC,10-2021
2014-07-18,A969N02801M,PSD,CORONA,NY,11368,QUEENS,2014,YALE,P/SH,ELECTRIC,07-2014
2014-08-06,A83T50116,PSD,CORONA,NY,11368,QUEENS,2010,TCM,P/SH,ELECTRIC,08-2014

In [15]:
# inspection of Date/VIN/County duplicates
NYS_registrations_df[NYS_registrations_df.duplicated(subset=['month/year','VIN', 'County'], keep=False)].sort_values('VIN')

Empty DataFrame
Columns: [VIN, Registration Class, City, State, Zip, County, Model Year, Make, Body Type, Fuel Type, month/year]
Index: []

In [16]:
# inspection of Date/VIN duplicates
NYS_registrations_df[NYS_registrations_df.duplicated(subset=['month/year','VIN'], keep=False)].sort_values('VIN')

Empty DataFrame
Columns: [VIN, Registration Class, City, State, Zip, County, Model Year, Make, Body Type, Fuel Type, month/year]
Index: []

# Addressing potential Null Values

In [17]:
NYS_registrations_df.isna().sum()

VIN                   0
Registration Class    0
City                  0
State                 0
Zip                   0
County                0
Model Year            0
Make                  0
Body Type             0
Fuel Type             0
month/year            0
dtype: int64

In [18]:
NYS_registrations_df['Make'].unique()

array(['SAAB', 'EVA', 'CITIC', 'VANTA', 'CROWN', 'DE/EL', 'MANIT',
       'HONDA', 'TESLA', 'AMPER', 'PROTE', 'VOLVO', 'CENNT', 'ARCIM',
       'RIVIA', 'TOYOT', 'WORKH', 'GENZE', 'LEXUS', 'ALTA', 'ZERO',
       'ZE/MO', 'AZURE', 'FORD', 'THINK', 'GREEN', 'SCOUT', 'NAVIS',
       'INTER', 'STAR', 'POLAR', 'GEM', 'GLOBA', 'LINDE', 'BRAMM',
       'AM/GE', 'KARMA', 'KARM', 'LUCID', 'CRUS', 'MOKE', 'CR/CA', 'TESL',
       'BMW', 'TO/OU', 'ACURA', 'CLUBC', 'CL/CA', 'CLUB', 'PATH', 'ZO/EL',
       'NEWFL', 'NE/FL', 'COLUM', 'TOMBE', 'SPARK', 'SMITH', 'UTILI',
       'NOVA', 'NOVB', 'NO/BU', 'IC', 'CR/CO', 'MITSU', 'LINCO', 'RAM',
       'ZENIT', 'ZENTI', 'FIAT', 'PIAGG', 'CHEVR', 'GMC', 'ZENN', 'CHRYS',
       'LION', 'GILLI', 'DETRO', 'VOLKS', 'ASVE', 'EA/BE', 'COM', 'COMUT',
       'CO/CA', 'KALMA', 'AMPHI', 'CRAYL', 'CUSHM', 'EZ/GO', 'OHAWA',
       'ORANG', 'ORAN', 'ZELEC', 'ZEV', 'ORION', 'OROIN', 'ORON', 'IRION',
       'OTION', 'NISSA', 'PRO', 'JOHND', 'JO/DE', 'LI/SE', 'STING',
       'HA/DA', 'LIVEW', 'CITC', 'MEVH', 'CADIL', 'FREIG', 'TRANT', 'EGO',
       'ETUK', 'ERIDE', 'CORBI', 'JEEP', 'DODGE', 'BL/BI', 'BL/BD', 'ACG',
       'CHRIS', 'JLG', 'ENERG', 'OTHER', 'OXYGE', 'VESPA', 'CAKE',
       'FISKE', 'ME/BE', 'KOLLT', 'PORSC', 'MINI', 'SMART', 'KUMPA',
       'AUDI', 'SUZUK', 'HUSQV', 'KTM', 'GA/GA', 'GARIA', 'ELGIN', 'FUSO',
       'JOHN', 'VC/TX', 'VECTR', 'VCTX', 'JAGUA', 'FLUX', 'ENGTI',
       'EL/SM', 'EAHOR', 'FLYWI', 'GE/SC', 'YALE', 'MOFFE', 'CUSTO',
       'CASE', 'YADEA', 'YAMAH', 'CY/TR', 'JI/BA', 'BAODI', 'JIANG',
       'DOOH', 'DOOHA', 'CHANJ', 'FOTON', 'CSC', 'ZONGS', 'KASEA',
       'REVOL', 'POLES', 'POLE', 'POLRD', 'YNGF', 'JIAJ', 'MILES', 'MILE',
       'EVTA', 'NIU', 'GENU', 'GENUI', 'NIUU', 'HYSTE', 'KAWAS', 'KIA',
       'KI/MO', 'HYUND', 'MAZDA', 'HINO', 'SUBAR', 'GR/MA', 'GR/MC',
       'DOOSA', 'IC/PN', 'ICE', 'TCM'], dtype=object)

In [19]:
len(NYS_registrations_df['Make'].unique())

197

In [25]:
# Next we can see some vehicles name are just mispelled or have an a different name , we will group by the OEM.
NYS_registrations_df['Make'].replace(['CROWN', 'TOYOT'], 'TOYOTA', 
                    inplace=True)
NYS_registrations_df['Make'].replace(['ORION', 'OROIN','IRION','ORON'], 'FORD', 
                    inplace=True)
NYS_registrations_df['Make'].replace(['JAGUA','JAG'], 'JAGUAR', 
                    inplace=True)
NYS_registrations_df['Make'].replace(['PIAGG','VESPA'], 'PIAGGIO', 
                    inplace=True)
NYS_registrations_df['Make'].replace(['POLRD','STAR','POLAR','POLES','POLE'], 'POLESTAR', 
                    inplace=True)
NYS_registrations_df['Make'].replace(['CITIC','CITC'], 'HONDA', 
                    inplace=True)
NYS_registrations_df['Make'].replace('JAGUA', 'JAGUAR', inplace=True)
NYS_registrations_df['Make'].replace(['CHRIS','CHRYS'], 
                                     'CHRYSLER', inplace=True)
NYS_registrations_df['Make'].replace('SUBAR', 'SUBARU', inplace=True)
NYS_registrations_df['Make'].replace('TESL', 'TESLA', inplace=True)
NYS_registrations_df['Make'].replace('VOLKS', 'VOLKSWAGEN', inplace=True)
NYS_registrations_df['Make'].replace('PORSC', 'PORSCHE', inplace=True)
NYS_registrations_df['Make'].replace('NIUU', 'NIU', inplace=True)
NYS_registrations_df['Make'].replace('KARM', 'KARMA', inplace=True)
NYS_registrations_df['Make'].replace('VANTA', 'BMW', inplace=True)

In [26]:
NYS_registrations_df['Make'].unique()

array(['SAAB', 'EVA', 'HONDA', 'BMW', 'TOYOTA', 'DE/EL', 'MANIT', 'TESLA',
       'AMPER', 'PROTE', 'VOLVO', 'CENNT', 'ARCIM', 'RIVIA', 'WORKH',
       'GENZE', 'LEXUS', 'ALTA', 'ZERO', 'ZE/MO', 'AZURE', 'FORD',
       'THINK', 'GREEN', 'SCOUT', 'NAVIS', 'INTER', 'POLESTAR', 'GEM',
       'GLOBA', 'LINDE', 'BRAMM', 'AM/GE', 'KARMA', 'LUCID', 'CRUS',
       'MOKE', 'CR/CA', 'TO/OU', 'ACURA', 'CLUBC', 'CL/CA', 'CLUB',
       'PATH', 'ZO/EL', 'NEWFL', 'NE/FL', 'COLUM', 'TOMBE', 'SPARK',
       'SMITH', 'UTILI', 'NOVA', 'NOVB', 'NO/BU', 'IC', 'CR/CO', 'MITSU',
       'LINCO', 'RAM', 'ZENIT', 'ZENTI', 'FIAT', 'PIAGGIO', 'CHEVR',
       'GMC', 'ZENN', 'CHRYSLER', 'LION', 'GILLI', 'DETRO', 'VOLKSWAGEN',
       'ASVE', 'EA/BE', 'COM', 'COMUT', 'CO/CA', 'KALMA', 'AMPHI',
       'CRAYL', 'CUSHM', 'EZ/GO', 'OHAWA', 'ORANG', 'ORAN', 'ZELEC',
       'ZEV', 'OTION', 'NISSA', 'PRO', 'JOHND', 'JO/DE', 'LI/SE', 'STING',
       'HA/DA', 'LIVEW', 'MEVH', 'CADIL', 'FREIG', 'TRANT', 'EGO', 'ETUK',
       'ERIDE', 'CORBI', 'JEEP', 'DODGE', 'BL/BI', 'BL/BD', 'ACG', 'JLG',
       'ENERG', 'OTHER', 'OXYGE', 'CAKE', 'FISKE', 'ME/BE', 'KOLLT',
       'PORSCHE', 'MINI', 'SMART', 'KUMPA', 'AUDI', 'SUZUK', 'HUSQV',
       'KTM', 'GA/GA', 'GARIA', 'ELGIN', 'FUSO', 'JOHN', 'VC/TX', 'VECTR',
       'VCTX', 'JAGUAR', 'FLUX', 'ENGTI', 'EL/SM', 'EAHOR', 'FLYWI',
       'GE/SC', 'YALE', 'MOFFE', 'CUSTO', 'CASE', 'YADEA', 'YAMAH',
       'CY/TR', 'JI/BA', 'BAODI', 'JIANG', 'DOOH', 'DOOHA', 'CHANJ',
       'FOTON', 'CSC', 'ZONGS', 'KASEA', 'REVOL', 'YNGF', 'JIAJ', 'MILES',
       'MILE', 'EVTA', 'NIU', 'GENU', 'GENUI', 'HYSTE', 'KAWAS', 'KIA',
       'KI/MO', 'HYUND', 'MAZDA', 'HINO', 'SUBARU', 'GR/MA', 'GR/MC',
       'DOOSA', 'IC/PN', 'ICE', 'TCM'], dtype=object)

In [27]:
len(NYS_registrations_df['Make'].unique())

180

In [28]:
NYS_registrations_df.head()

,VIN,Registration Class,City,State,Zip,County,Model Year,Make,Body Type,Fuel Type,month/year
Reg Valid Date,,,,,,,,,,,
2021-05-04,96722014661,SRF,BOVINA,NY,13740,DELAWARE,1972,SAAB,2DSD,ELECTRIC,05-2021
2021-09-21,9106843,SRF,GLENDALE,NY,11385,QUEENS,1974,EVA,4DSD,ELECTRIC,09-2021
2021-05-12,909SR2223A,SRF,STAFFORD,NY,14143,GENESEE,1979,HONDA,2DSD,ELECTRIC,05-2021
2014-07-01,9E2SPAXBC113501,PSD,JOHNSTOWN,NY,12095,FULTON,2012,BMW,PICK,ELECTRIC,07-2014
2021-12-09,9A204759,SPC,BROOKLYN,NY,11211,KINGS,2014,TOYOTA,P/SH,ELECTRIC,12-2021